---
title: 'Philippine Business Society of Alberta | Edmonton, Alberta Canada'
description: 'Philippine Business Society of Alberta – Connecting and empowering Filipino entrepreneurs in Edmonton, Alberta, Canada. Grow, network, and succeed with us!'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/construction-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/construction.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/construction.jpg" alt="house" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">Philippine Business Society of Alberta</h2>
                <p class="cs-text">
                    At the Philippine Business Society of Alberta, we are committed to supporting Filipino entrepreneurs by creating a strong and collaborative business community in Edmonton and across Alberta. Our goal is to connect business owners, foster growth, and provide the tools and resources needed to thrive in the competitive business landscape.
                </p>
                <p class="cs-text">
                    We offer a platform for Filipino entrepreneurs to network, learn from each other, and access valuable business resources. Through events, workshops, and community outreach, we strive to help our members grow their businesses and contribute to the broader economy of Alberta.
                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        By working together, we build a stronger business presence for Filipino entrepreneurs, driving success and innovation in the region.
                    </p>
                    <span class="cs-name">Justin Time</span>
                    <span class="cs-job">Founder</span>
                    <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136" height="77">
                </div>
                <a href="/projects" class="cs-button-solid">Our Projects</a>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}